.dinamic-panel {
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  padding-bottom: 1px solid grey;
  padding-left: 1rem;
  padding-right: 1rem;

  .leng-products {
    color: #52525b;
  }
  .dinamic-panel-menu {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 22px;

    .card-panel {
      font-size: 24px;
      color: #52525b;
      padding: 10px;
      &:hover {
        color: #3f3f46;
        background-color: #d4d4d8;
        border-radius: 100%;
        cursor: pointer;
      }
    }
    .card-panel-active {
      font-size: 24px;
      background: #f5a524;
      padding: 10px;
      color: white;
      border-radius: 100%;
    }
    .list-panel {
      color: #52525b;
      padding: 10px;

      &:hover {
        color: #3f3f46;
        background-color: #d4d4d8;
        border-radius: 100%;
        cursor: pointer;
      }
    }
  }
}
