.order-total {
  font-family: "Roboto", sans-serif;
  width: 400px;
  height: 300px;
  display: flex;
  background: rgb(59 130 246 / 0.5);
  border-radius: 10px;

  .order_total_border {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px;

    p {
      display: flex;
      justify-content: space-between;
      padding-bottom: 10px;
    }
    .shipping_line,
    .tax_line,
    .total_line {
      border-top: 1px solid grey;
      padding-top: 10px;
    }
  }
}
